@CHARSET "UTF-8";

body {
	padding: 24px;
	background-color: #F0F8FF;
}

#close-btn {
	font: bold 20px sans-serif;
	position: fixed;
	left: 0px;
	top: 0px;
	color: gray;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	padding-top: 1px;
	padding-left: 3px;
}

#submit {
	height: 26px; /* to prevent status text being bigger and causing this to shift down */
}

#questions {

}

#question-img {
    max-width: 20px;
    position: fixed;
    right: 0px;
    top: 0px;
    display: inline-block;
    text-align: center;
    padding-top: 3px;
    padding-right: 3px;
}


img.status-correct{
  margin-left:-28px;
  margin-right: 3px;
  width:25px;
  height: 25px;
  display:inline-block;
  content: url("../img/correct.png");
}

img.status-incorrect{
  margin-left:-25px;
  margin-right: 5px;
  width:20px;
  height: 20px;
  display:inline-block;
  content: url("../img/incorrect.png");
}

img.status-non-answered{
  margin-left:-25px;
  margin-right: 5px;
  width:20px;
  height: 20px;
  display:inline-block;
}

h3{
	display:inline-block;
	margin-bottom:5px;
	margin-top:10px;
}

.attempts-div{
  position: relative;
  width: 200px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  border: 5px solid #666;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}
.attempts-div:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 25px;
  top: 40px;
  border: 10px solid;
  border-color: #666 transparent transparent #666;
}